In [4]:
import requests 
from bs4 import BeautifulSoup
import numpy as np 
import pandas as pd

url = 'https://en.wikipedia.org/wiki/Lionel_Messi'


response = requests.get(url)

response.status_code

#response.content

soup = BeautifulSoup(response.content, 'html.parser')

stat_table =soup.find_all('table',class_ = '')

type(stat_table)
stat_table =stat_table[0]


#Know how many rows in column_name
countcol = 0 
for row in stat_table.find('tr'):
    countcol +=1
    print(row)
    
countcol = int(countcol/2)

#Put data in table 
table1 = [] 
for row in stat_table.find_all('tr'):
    for cell in row.find_all('td'):
        table1.append(cell.text)

n = len(table1)
r = int(n/countcol)

#Convert 1D to 2D array
table1 = np.array(table1)
t1 = np.reshape(table1,(r,countcol))

# table in DataFrame 
t1 = pd.DataFrame(t1)

<td colspan="4" style="text-align:center">
<a class="image" href="/wiki/File:Lionel_Messi_20180626.jpg"><img alt="Lionel Messi 20180626.jpg" data-file-height="1000" data-file-width="701" decoding="async" height="314" src="//upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Lionel_Messi_20180626.jpg/220px-Lionel_Messi_20180626.jpg" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Lionel_Messi_20180626.jpg/330px-Lionel_Messi_20180626.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Lionel_Messi_20180626.jpg/440px-Lionel_Messi_20180626.jpg 2x" width="220"/></a><div>Messi with <a href="/wiki/Argentina_national_football_team" title="Argentina national football team">Argentina</a> at the <a href="/wiki/2018_FIFA_World_Cup" title="2018 FIFA World Cup">2018 FIFA World Cup</a></div></td>

ZeroDivisionError: division by zero

In [2]:
t1

              0           1             2                      3
0   GOAL NUMBER        DATE   COMPETITION               OPPONENT
1             1  01/03/2006      Friendly                Croatia
2             2  16/06/2006     World Cup  Serbia and Montenegro
3             3  05/06/2007      Friendly                Algeria
4             4  05/06/2007      Friendly                Algeria
..          ...         ...           ...                    ...
64           64  29/05/2018      Friendly                  Haiti
65           65  26/06/2018     World Cup                Nigeria
66           66  07/06/2019      Friendly              Nicaragua
67           67  07/06/2019      Friendly              Nicaragua
68           68  19/06/2019  Copa America               Paraguay

[69 rows x 4 columns]