In [6]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
pd.set_option("display.max_rows",1000)
url = "https://www.fctables.com/fifa-rankings/"
response = requests.get(url)
soup = BeautifulSoup(response.text,'html.parser')


#Use caption to find table 
table1 = soup.('table', class_ = "table fifa-ranking no_click table-condensed")

In [7]:
#Find all the rows
rowcell = []#all rows
for row in table1.find_all('tr'):
    for cell in table1.find_all('td'):
        c = cell.text.replace('\n','')
        rowcell.append(c)
    break



#find all column names
tcol = []#column names 
columns = table1.find_all('th')
for colcell in columns:
    for x in colcell:
        x = x.replace('\n','')
        tcol.append(x)

tcol = tcol[:2]
print(tcol)

        
#make rowcell 2DD
rowcell = np.array(rowcell)
r = int(len(rowcell)/len(tcol))
print(len(rowcell))
c = int(len(tcol))
print(c)
rowcell = np.reshape(rowcell,(r,c))

NameError: name 'table1' is not defined

In [8]:
#Making dataframe 
tmessi = pd.DataFrame(rowcell, columns = tcol)
tmessi

NameError: name 'tcol' is not defined